body {
    padding-bottom: 50px;
    color: #FFFFFF;
    margin: 0;
    background: #221845;
    min-height: 100px;
    text-align: center;
}

header {
    overflow: hidden;
    height: 2.5vh;
    background-color: rgb(189, 82, 6);
    text-align: center;
}

header > form > label {
    vertical-align: top;
    color: #FFFFFF;
    font-size: min(2vw, 2vh);
    font-weight: bold;
}

header > form > [type = "text"] {
    vertical-align: top;
    width: 60%;
    height: 2vh;
    font-size: min(2vw, 2vh);
}

header > form > [type = "submit"] {
    vertical-align: top;
    height: 2.5vh;
    font-size: min(2vw, 2vh);
    background: transparent;
    border: none;
}

header > form > [type = "submit"]:hover {
    border: solid 1px;
}

nav {
    background: url(../images/pic3.png) no-repeat center;
    background-size: cover;
}

nav h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 4vh;
    background-color: rgba(189, 82, 6, 0.665);
    color: black;
}

.menu {
    text-align: right;
}

.menu a {
    display: inline-block;
    color: #FFFFFF;
    background-color: rgba(189, 82, 6, 0.865);
    text-decoration: none;
    font-size: min(2vw, 2vh);
    font-weight: bold;
    padding: 0.5em;
}

a.active {
    border: solid black min(0.4vw, 0.4vh);
    color: #6d6d6d;
}

article {
    margin: 0;
    padding: 0;
    text-align: center;
}

.forms {
    display: inline-flex;
    direction: row;
    gap: 100px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    border: 2px solid white;
    background-color: rgba(189, 82, 6, 0.865);
}

th {
    background-color: rgba(227, 104, 15, 0.865);
    color: white;

}

td, th {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

footer {
    height: 2.5vh;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

footer > p {
    margin-top: 0;
    font-size: min(2vw, 2vh);
    padding: 0 1vw;
    color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}
