body {
    margin: 0;
    background: #221845;
    min-height: 100px;
}

header {
    overflow: hidden;
    height: 2.5vh;
    background-color: rgb(189, 82, 6);
    text-align: center;
}

header > form > label {
    vertical-align: top;
    color: #FFFFFF;
    font-size: min(2vw, 2vh);
    font-weight: bold;
}

header > form > [type = "text"] {
    vertical-align: top;
    width: 60%;
    height: 2vh;
    font-size: min(2vw, 2vh);
}

header > form > [type = "submit"] {
    vertical-align: top;
    height: 2.5vh;
    font-size: min(2vw, 2vh);
    background: transparent;
    border: none;
    
}

header > form > [type = "submit"]:hover {
    border: solid 1px;
}

nav {
    background: url(images/pic3.png) no-repeat center;
    background-size: cover;
}

nav h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 4vh;
    background-color: rgba(189, 82, 6, 0.665);
}

.menu {
    text-align: right;
}

.menu a {
    display: inline-block;
    color: #FFFFFF;
    background-color: rgba(189, 82, 6, 0.865);
    text-decoration: none;
    font-size: min(2vw, 2vh);
    font-weight: bold;
    padding: 0.5em;
}

a.active {
    border: solid black min(0.4vw, 0.4vh);
    color: #6d6d6d;
}

article {
    text-align: center;
}

.card {
    display: inline-block;
    overflow: hidden;
    width: 14%;
    height: 32vh;
    margin: 1%;
    background-color: rgba(189, 82, 6, 0.865);
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0 0.5em black;
}

.card-title {
    height: 12vh;
    overflow: hidden;
}

.card-title > img {
    width: 45%;
    float: left;
}

.card-title > img + h2 {
    font-size: min(2vw, 2vh);
}

.card-title > h2 + img {
    width: 20%;
    margin-left: 2.65vw;
}

.card > p {
    font-size: min(1.4vw, 1.4vh);
    clear: both;
    overflow: hidden;
}

footer {
    height: 2.5vh;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

footer > p {
    margin-top: 0;
    font-size: min(2vw, 2vh);
    padding: 0 1vw;
}

.left {
    float: left;
}

.right {
    float: right;
}
