body {
    margin: 0;
    background: #221845;
    padding-top: 10px;
}

header {
    min-height: 50px;
    margin: 0 10px;
    background: rgb(189, 82, 6);
    width: 40%;
    height: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    overflow: visible;
    padding-top: 1px;
}

nav {
    margin: 0 10px;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 70px;
    background: rgb(189, 82, 6);
    padding-right: 20px;
}

nav > a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    background: rgb(192, 109, 50);
}

a.active {
    border: solid black min(0.4vw, 0.4vh);
    color: #6d6d6d;
    text-decoration: underline;
}

a.maintenance {
    color: #6d6d6d5b;
}

.gallery {
    display: grid;
    margin: 0 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    height: 330px;
}

.gallery-item {
    background: rgb(194, 158, 132);
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.img1 {
    grid-row: 1 / 4;
}

.img1 > img {
    width: 60%;
}

.raise > img {
    position: relative;
    top: -130px;
}

.desc {
    display: flex;
    width: 60%;
    margin: 20px auto;
    justify-content: space-between;
    align-items: end;
}

.desc > div {
    display: inline-block;
    width: 25%;
    text-align: center;
    color: white;
}

.card-section {
    color: white;
    font-size: 1.05em;
    display: grid;
    margin: 0 100px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    min-height: 370px;
}

.card {
    padding: 0 50px;
    height: 180px;
    text-align: center;
    overflow: hidden;
}

.card > img {
    height: 180px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(146, 129, 129);
    width: 100%;
}

footer > p {
    margin: 2px 10px;
    font-size: 1.2em;
}

.left {
    float: left;
}

.right {
    float: right;
}


@media (max-width: 800px) {
    header {
        display: none;
    }

    nav {
        background-color: #221845;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
        margin: 0 0 0 15px;
    }

    a.active {
        border-color: white;
    }

    .gallery {
        grid-template-columns: 1fr;
        height: initial;
    }

    .left, .right {
        float: none;
    }

    .card {
        height: initial;
    }

    .card > img {
        clear: both;
    }

    .img1 {
        grid-row: initial;
    }

    .img1 > img {
        width: initial;
        position: relative;
        top: -30px;
    }

    .gallery-item {
        height: 90px;
    }

    .desc {
        flex-wrap: wrap;
    }

    .desc > div {
        width: 100%;
    }
}
